<div class="row">
<div class="greeting">
    <marquee><b><i><h2>User greeted!</h2></i></b></marquee>

  </div>
  <div class="row">
  <div class="six columns">
<a href="/greeted"> <button class="back">back to greeted users</button></a>
</div>
</div>
{{#each results}}
<h3>Hello ,<span class="getName" >{{name}}</span> has been greeted <span class="getName">{{count}} </span>time(s)</h3>

{{/each}}
</div>