<div class="row">
  <!-- <h2>Greeting Exercise</h2> -->
  <div class="greeting">
    <marquee><b><i><h2>Greetings!</h2></i></b></marquee>

  </div>
  
  <form class="" action="/greetings" method="post">

      <div class="count">
        <b>counter: <span class="counter">{{count}}</span></b>
      </div>
      <h3>Name :<input type="text" class="inputName" placeholder="Enter your name" name="name" value=""></h3>
      <div class="languages sixteen columns vertical-offset-by-one">
        <div class="four columns radio">
          <input type="radio" name="language" class="languageRadio" value="Hello">
        <span class="label-body">English</span>
        </div>
        <div class="four columns">
          <input type="radio" name="language" class="languageRadio" value="Hallo">
        <span class="label-body">Afrikaans</span>
        </div>
        <div class="four columns">
          <input type="radio" name="language" class="languageRadio" value="Mholo">
        <span class="label-body">IsiXhosa</span>
        </div>
        
      </div>
<div class="error">
    {{#if messages.getMsg}}
      <span class="getName">{{messages.getMsg}}</span>
    {{/if}}
  {{#if messages.info}}
      <span class="err">{{messages.info}}</span>
    {{/if}}
  </div>
      <br>
<hr>
      <div class="row">
        <div class="four columns">
                  <button type="submit" class="button-primary greetMe" >Greet me</button>

        </div>
        <div class="six columns">
               <a href="/greeted"> <button type="button" class="button-primary reset" name="submit"> Greeted Names</button></a>
        </div>

      </div>
      
      <br>

  </form>
  
</div>
