
<div class="container">
   
    <div class="row">
        {{#each shifts}}
        <div class="col-md-1">
           <h3 class="days">{{weekdays}}</h3>
           <div class="row">
               {{#each waiters}}
               <div class="col-md-12" id="names">
                   {{this}}
               </div>
               {{/each}}
           </div>
        </div>
        {{/each}}

    </div>
</div>