*{
  width: auto;
}
body{
  text-align: center;


}
.err{
  color:crimson;
  font-weight: bold;
  margin: 2em;
  padding: 1px;
}
.back{
margin-right: 60em;
}
.reset{
  margin-top: -20em;
}
a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
  }


a:hover, a:active {
    /* background-color: blue; */
    color: rgb(58, 26, 26);
}
table{
  text-align: center;
}
.container{
  border: solid black;
    background: grey;
    border-radius: 20px;
}
.greetings{
  font-weight: bold;
}

.count{
margin-left: 400px;
border-color: red;
font-size: 20px;
}
.reset{
margin-left: 320px;
}
.languageRadio{
  /* padding: 2px; */
  font-size: 20px;
}
span{
  font-size: 30px;
  font-weight:bold;
}
h2{
  color: maroon;
}
