*{
  width: auto;
}
body{
  text-align: center;


}
.container{
  border: solid black;
    background: grey;
    border-radius: 20px;
}
.greetings{
  font-weight: bold;
}

.count{
margin-left: 400px;
border-color: red;
font-size: 20px;
}
.reset{
margin-left: 320px;
}
.languageRadio{
  /* padding: 2px; */
  font-size: 20px;
}
span{
  font-size: 30px;
  font-weight:bold;
}
h2{
  color: maroon;
}
